.isFocused{
    color: #c2185b;
}

.subForm-container{
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 10px;
}

.flex-taxonomy{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-morphology{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}