<div #parent class="flex-header">
  <h4 class="title">Mushroom : {{ mushroom?.taxonomy?.species }}</h4>
  <h4 class="subtitle">Description</h4>
  <mat-button-toggle
    (change)="
      parent.parentElement?.parentElement?.classList?.toggle('flex-container')
    "
    >Invert views</mat-button-toggle
  >
</div>
<form class="form-mushroom" [formGroup]="formMushroom" (ngSubmit)="onSave()">
  <div class="flex-buttons">
    <button class="save-button" mat-stroked-button type="submit">Save</button>
    <div class="notifications" *ngIf="notifications">
      {{ notifications.message }}
    </div>
   
    <button
      class="delete-button"
      mat-stroked-button
      *ngIf="mushroom"
      type="button"
      (click)="openDialog()"
    >
      Delete
    </button>
  </div>

  <mat-expansion-panel
    class="subForm-container"
    disabled="true"
    expanded="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title style="color: white">Taxonomy</mat-panel-title>
      <mat-panel-description style="color: #c6c6c6"
        >Systematic nomenclature</mat-panel-description
      >
    </mat-expansion-panel-header>
    <form formGroupName="taxonomy" class="flex-container">
      <div class="group-1-taxonomy">
        <div class="input-flex-container">
          <mat-form-field
            #tooltipspecies="matTooltip"
            matTooltip="{{ tooltip.taxonomy.species }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #specieslabel for="species" className="">Species</label>
            <input
              id="species"
              matInput
              type="text"
              formControlName="species"
              (focus)="specieslabel.className = 'isFocused'"
              (blur)="specieslabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            title="click for info"
            (click)="toggleTooltip(tooltipspecies)"
            >info</mat-icon
          >
          <!-- <div class="info">
            <h3>The Species taxon</h3>
            <p class="paragraph">{{ tooltip.taxonomy.species }}</p>
          </div> -->
        </div>
        <div class="input-flex-container">
          <mat-form-field
            #tooltipgender="matTooltip"
            matTooltip="{{ tooltip.taxonomy.gender }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #genderlabel for="gender" className="">Gender</label>
            <input
              id="gender"
              matInput
              type="text"
              formControlName="gender"
              (focus)="genderlabel.className = 'isFocused'"
              (blur)="genderlabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            title="click for info"
            (click)="toggleTooltip(tooltipgender)"
            >info</mat-icon
          >
          <!-- <div class="info">
            <h3>The Gender taxon</h3>
            <p class="paragraph">{{ tooltip.taxonomy.gender }}</p>
          </div> -->
        </div>
        <div class="input-flex-container">
          <mat-form-field
            #tooltipfamily="matTooltip"
            matTooltip="{{ tooltip.taxonomy.family }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #familylabel for="family" className="">Family</label>
            <input
              id="family"
              matInput
              type="text"
              formControlName="family"
              (focus)="familylabel.className = 'isFocused'"
              (blur)="familylabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            title="click for info"
            (click)="toggleTooltip(tooltipfamily)"
            >info</mat-icon
          >
          <!-- <div class="info">
            <h3>The Family taxon</h3>
            <p class="paragraph">{{ tooltip.taxonomy.family }}</p>
          </div> -->
        </div>
      </div>
      <div class="group-2-taxonomy">
        <div class="input-flex-container">
          <mat-form-field
            #tooltiporder="matTooltip"
            matTooltip="{{ tooltip.taxonomy.order }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #orderlabel for="order" className="">Order</label>
            <input
              id="order"
              matInput
              type="text"
              formControlName="order"
              (focus)="orderlabel.className = 'isFocused'"
              (blur)="orderlabel.className = ''"
            />
          </mat-form-field>
          <mat-icon title="click for info" (click)="toggleTooltip(tooltiporder)"
            >info</mat-icon
          >
          <!-- <div class="info">
            <h3>The Order taxon</h3>
            <p class="paragraph">{{ tooltip.taxonomy.order }}</p>
          </div> -->
        </div>
        <div class="input-flex-container">
          <mat-form-field
            #tooltipcommonName="matTooltip"
            matTooltip="{{ tooltip.taxonomy.commonName }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #synonymouslabel for="commonName" className=""
              >Common name</label
            >
            <input
              id="commonName"
              matInput
              type="text"
              formControlName="commonName"
              (focus)="synonymouslabel.className = 'isFocused'"
              (blur)="synonymouslabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            title="click for info"
            (click)="toggleTooltip(tooltipcommonName)"
            >info</mat-icon
          >
          <!-- <div class="info">
            <h3>The Common name</h3>
            <p class="paragraph">{{ tooltip.taxonomy.commonName }}</p>
          </div> -->
        </div>

        <div class="input-flex-container">
          <mat-form-field
            #tooltipAA="matTooltip"
            matTooltip="{{ tooltip.taxonomy.AA }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #aalabel for="AA" className="">A.A.</label>
            <input
              id="AA"
              matInput
              type="text"
              formControlName="AA"
              (focus)="aalabel.className = 'isFocused'"
              class="mat-form-field-taxonomy"
              (blur)="aalabel.className = ''"
            />
          </mat-form-field>
          <mat-icon title="click for info" (click)="toggleTooltip(tooltipAA)"
            >info</mat-icon
          >
          <!-- <div class="info">
            <h3>A.A. Authoritative author</h3>
            <p class="paragraph">{{ tooltip.taxonomy.AA }}</p>
          </div> -->
        </div>
      </div>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel class="subForm-container">
    <mat-expansion-panel-header>
      <mat-panel-title>Morphology</mat-panel-title>
      <mat-panel-description>Macroscopic characteristics</mat-panel-description>
    </mat-expansion-panel-header>
    <form formGroupName="morphology" class="flex-container">
      <mat-icon
        class="info-icon"
        title="click for info"
        (click)="tooltipcap.toggle()"
        >info</mat-icon
      >
      <span
        class="tooltip"
        #tooltipcap="matTooltip"
        matTooltip="{{ tooltip.morphology.cap }}"
        matTooltipPosition="above"
      ></span>
      <mat-form-field>
        <label #caplabel for="cap" className="">Cap</label>
        <textarea
          id="cap"
          matInput
          cdkTextareaAutosize
          formControlName="cap"
          (focus)="caplabel.className = 'isFocused'"
          (blur)="caplabel.className = ''"
        ></textarea>
      </mat-form-field>

      <mat-icon
        class="info-icon"
        title="click for info"
        (click)="tooltiphymenophore.toggle()"
        >info</mat-icon
      >
      <span
        class="tooltip"
        #tooltiphymenophore="matTooltip"
        matTooltip="{{ tooltip.morphology.hymenophore }}"
        matTooltipPosition="above"
      ></span>
      <mat-form-field>
        <label #hymenophorelabel for="hymenophore" className=""
          >Hymenophore</label
        >
        <textarea
          id="hymenophore"
          matInput
          cdkTextareaAutosize
          formControlName="hymenophore"
          (focus)="hymenophorelabel.className = 'isFocused'"
          (blur)="hymenophorelabel.className = ''"
        ></textarea>
      </mat-form-field>

      <mat-icon
        class="info-icon"
        title="click for info"
        (click)="tooltipstalk.toggle()"
        >info</mat-icon
      >
      <span
        class="tooltip"
        #tooltipstalk="matTooltip"
        matTooltip="{{ tooltip.morphology.stalk }}"
        matTooltipPosition="above"
      ></span>
      <mat-form-field>
        <label #stalklabel for="stalk" className="">Stalk</label>
        <textarea
          id="stalk"
          matInput
          cdkTextareaAutosize
          formControlName="stalk"
          (focus)="stalklabel.className = 'isFocused'"
          (blur)="stalklabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-icon
        class="info-icon"
        title="click for info"
        (click)="tooltipAA.toggle()"
        >info</mat-icon
      >
      <mat-form-field>
        <label #fleshlabel for="flesh" className="">Flesh</label>
        <textarea
          id="flesh"
          matInput
          cdkTextareaAutosize
          formControlName="flesh"
          (focus)="fleshlabel.className = 'isFocused'"
          (blur)="fleshlabel.className = ''"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel class="subForm-container">
    <mat-expansion-panel-header>
      <mat-panel-title>Features</mat-panel-title>
      <mat-panel-description>Habitat edibility and notes</mat-panel-description>
    </mat-expansion-panel-header>
    <form formGroupName="features" class="flex-container">
      <mat-form-field>
        <label #habitatlabel for="habitat" className="">Habitat</label>
        <textarea
          id="habitat"
          matInput
          cdkTextareaAutosize
          formControlName="habitat"
          (focus)="habitatlabel.className = 'isFocused'"
          (blur)="habitatlabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label #edibilitylabel for="edibility" className="">Edibility</label>
        <textarea
          id="edibility"
          matInput
          cdkTextareaAutosize
          formControlName="edibility"
          (focus)="edibilitylabel.className = 'isFocused'"
          (blur)="edibilitylabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label #notelabel for="note" className="">Note</label>
        <textarea
          id="note"
          matInput
          cdkTextareaAutosize
          formControlName="note"
          (focus)="notelabel.className = 'isFocused'"
          (blur)="notelabel.className = ''"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel class="subForm-container">
    <mat-expansion-panel-header>
      <mat-panel-title>Microscopic features</mat-panel-title>
      <mat-panel-description>Microscopic characteristics</mat-panel-description>
    </mat-expansion-panel-header>
    <form formGroupName="microscopicFeatures" class="flex-container">
      <mat-form-field>
        <label #sporeslabel for="spores" className="">Spores</label>
        <textarea
          id="spores"
          matInput
          cdkTextareaAutosize
          formControlName="spores"
          (focus)="sporeslabel.className = 'isFocused'"
          (blur)="sporeslabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label #pileipellislabel for="pileipellis" className=""
          >Pileipellis</label
        >
        <textarea
          id="pileipellis"
          matInput
          cdkTextareaAutosize
          formControlName="pileipellis"
          (focus)="pileipellislabel.className = 'isFocused'"
          (blur)="pileipellislabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <label #cystidialabel for="cystidia" className="">Cystidia</label>
        <textarea
          id="cystidia"
          matInput
          cdkTextareaAutosize
          formControlName="cystidia"
          (focus)="cystidialabel.className = 'isFocused'"
          (blur)="cystidialabel.className = ''"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
</form>

<ng-template #invalidFieldDialogBox>
  <h2 class="invalidFieldDialogBox-title" mat-dialog-title>Attention !</h2>
  <mat-dialog-content>
    <p>
      You must specify a <strong>Species</strong> in the
      <strong>Species</strong> field
    </p>
    <p class="species-name-note">
      The species of a mushroom is written with the first term (gender name)
      capitalized and the second term (species name) in lower case (for example
      <strong style="font-family: cursive">Amanita muscaria</strong>).
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</ng-template>
