<div #parent class="flex-header">
  <h4 class="title">Mushroom : {{ mushroom?.taxonomy?.species }}</h4>
  <h4 class="subtitle">Description</h4>
  <!-- <mat-button-toggle
    (change)="
      parent.parentElement?.parentElement?.classList?.toggle('flex-container-column');
    "
    >Invert views</mat-button-toggle
  > -->
</div>
<form class="form-mushroom" [formGroup]="formMushroom" (ngSubmit)="onSave()">
  <mat-expansion-panel
    class="subForm-container"
    disabled="true"
    expanded="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title style="color: white">Taxonomy</mat-panel-title>
      <mat-panel-description style="color: #c6c6c6"
        >Systematic nomenclature</mat-panel-description
      >
    </mat-expansion-panel-header>
    <form formGroupName="taxonomy" class="flex-container">
      <div class="group-1-taxonomy">
        <div class="input-flex-container">
          <mat-form-field
            #tooltipspecies="matTooltip"
            matTooltipDisabled
            matTooltip="{{ tooltip.taxonomy.species }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #specieslabel for="species" className="">Species</label>
            <input
              id="species"
              matInput
              type="text"
              formControlName="species"
              (focus)="specieslabel.className = 'isFocused'"
              (blur)="specieslabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            (mouseover)="tooltipspecies.disabled = false; tooltipspecies.show()"
            (mouseleave)="tooltipspecies.disabled = true"
            >info</mat-icon
          >
        </div>
        <div class="input-flex-container">
          <mat-form-field
            #tooltipgender="matTooltip"
            matTooltipDisabled
            matTooltip="{{ tooltip.taxonomy.gender }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #genderlabel for="gender" className="">Gender</label>
            <input
              id="gender"
              matInput
              type="text"
              formControlName="gender"
              (focus)="genderlabel.className = 'isFocused'"
              (blur)="genderlabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            (mouseover)="tooltipgender.disabled = false; tooltipgender.show()"
            (mouseleave)="tooltipgender.disabled = true"
            >info</mat-icon
          >
        </div>
        <div class="input-flex-container">
          <mat-form-field
            #tooltipfamily="matTooltip"
            matTooltipDisabled
            matTooltip="{{ tooltip.taxonomy.family }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #familylabel for="family" className="">Family</label>
            <input
              id="family"
              matInput
              type="text"
              formControlName="family"
              (focus)="familylabel.className = 'isFocused'"
              (blur)="familylabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            (mouseover)="tooltipfamily.disabled = false; tooltipfamily.show()"
            (mouseleave)="tooltipfamily.disabled = true"
            >info</mat-icon
          >
        </div>
      </div>
      <div class="group-2-taxonomy">
        <div class="input-flex-container">
          <mat-form-field
            #tooltiporder="matTooltip"
            matTooltipDisabled
            matTooltip="{{ tooltip.taxonomy.order }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #orderlabel for="order" className="">Order</label>
            <input
              id="order"
              matInput
              type="text"
              formControlName="order"
              (focus)="orderlabel.className = 'isFocused'"
              (blur)="orderlabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            (mouseover)="tooltiporder.disabled = false; tooltiporder.show()"
            (mouseleave)="tooltiporder.disabled = true"
            >info</mat-icon
          >
        </div>
        <div class="input-flex-container">
          <mat-form-field
            #tooltipcommonName="matTooltip"
            matTooltipDisabled
            matTooltip="{{ tooltip.taxonomy.commonName }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #synonymouslabel for="commonName" className=""
              >Common name</label
            >
            <input
              id="commonName"
              matInput
              type="text"
              formControlName="commonName"
              (focus)="synonymouslabel.className = 'isFocused'"
              (blur)="synonymouslabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            (mouseover)="
              tooltipcommonName.disabled = false; tooltipcommonName.show()
            "
            (mouseleave)="tooltipcommonName.disabled = true"
            >info</mat-icon
          >
        </div>

        <div class="input-flex-container">
          <mat-form-field
            #tooltipAA="matTooltip"
            matTooltipDisabled
            matTooltip="{{ tooltip.taxonomy.AA }}"
            matTooltipPosition="above"
            class="mat-form-field-taxonomy"
          >
            <label #aalabel for="AA" className="">A.A.</label>
            <input
              id="AA"
              matInput
              type="text"
              formControlName="AA"
              (focus)="aalabel.className = 'isFocused'"
              class="mat-form-field-taxonomy"
              (blur)="aalabel.className = ''"
            />
          </mat-form-field>
          <mat-icon
            (mouseover)="tooltipAA.disabled = false; tooltipAA.show()"
            (mouseleave)="tooltipAA.disabled = true"
            >info</mat-icon
          >
        </div>
      </div>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel class="subForm-container">
    <mat-expansion-panel-header>
      <mat-panel-title>Morphology</mat-panel-title>
      <mat-panel-description>Macroscopic characteristics</mat-panel-description>
    </mat-expansion-panel-header>
    <form formGroupName="morphology" class="flex-container">
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipcap.disabled = false; tooltipcap.show()"
        (mouseleave)="tooltipcap.disabled = true"
        >info</mat-icon
      >

      <mat-form-field
        #tooltipcap="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.morphology.cap }}"
        matTooltipPosition="above"
      >
        <label #caplabel for="cap" className="">Cap</label>
        <textarea
          id="cap"
          matInput
          cdkTextareaAutosize
          formControlName="cap"
          (focus)="caplabel.className = 'isFocused'"
          (blur)="caplabel.className = ''"
        ></textarea>
      </mat-form-field>

      <mat-icon
        class="info-icon"
        (mouseover)="
          tooltiphymenophore.disabled = false; tooltiphymenophore.show()
        "
        (mouseleave)="tooltiphymenophore.disabled = true"
        >info</mat-icon
      >

      <mat-form-field
        #tooltiphymenophore="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.morphology.hymenophore }}"
        matTooltipPosition="above"
      >
        <label #hymenophorelabel for="hymenophore" className=""
          >Hymenophore</label
        >
        <textarea
          id="hymenophore"
          matInput
          cdkTextareaAutosize
          formControlName="hymenophore"
          (focus)="hymenophorelabel.className = 'isFocused'"
          (blur)="hymenophorelabel.className = ''"
        ></textarea>
      </mat-form-field>

      <mat-icon
        class="info-icon"
        (mouseover)="tooltipstalk.disabled = false; tooltipstalk.show()"
        (mouseleave)="tooltipstalk.disabled = true"
        >info</mat-icon
      >

      <mat-form-field
        #tooltipstalk="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.morphology.stalk }}"
        matTooltipPosition="above"
      >
        <label #stalklabel for="stalk" className="">Stalk</label>
        <textarea
          id="stalk"
          matInput
          cdkTextareaAutosize
          formControlName="stalk"
          (focus)="stalklabel.className = 'isFocused'"
          (blur)="stalklabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipflesh.disabled = false; tooltipflesh.show()"
        (mouseleave)="tooltipflesh.disabled = true"
        >info</mat-icon
      >
      <mat-form-field
        #tooltipflesh="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.morphology.flesh }}"
        matTooltipPosition="above"
      >
        <label #fleshlabel for="flesh" className="">Flesh</label>
        <textarea
          id="flesh"
          matInput
          cdkTextareaAutosize
          formControlName="flesh"
          (focus)="fleshlabel.className = 'isFocused'"
          (blur)="fleshlabel.className = ''"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel class="subForm-container">
    <mat-expansion-panel-header>
      <mat-panel-title>Features</mat-panel-title>
      <mat-panel-description>Habitat edibility and notes</mat-panel-description>
    </mat-expansion-panel-header>
    <form formGroupName="features" class="flex-container">
      <mat-icon
        class="info-icon"
        (mouseover)="tooltiphabitat.disabled = false; tooltiphabitat.show()"
        (mouseleave)="tooltiphabitat.disabled = true"
        >info</mat-icon
      >
      <mat-form-field
        #tooltiphabitat="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.features.habitat }}"
        matTooltipPosition="above"
      >
        <label #habitatlabel for="habitat" className="">Habitat</label>
        <textarea
          id="habitat"
          matInput
          cdkTextareaAutosize
          formControlName="habitat"
          (focus)="habitatlabel.className = 'isFocused'"
          (blur)="habitatlabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipedibility.disabled = false; tooltipedibility.show()"
        (mouseleave)="tooltipedibility.disabled = true"
        >info</mat-icon
      >
      <mat-form-field
        #tooltipedibility="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.features.edibility }}"
        matTooltipPosition="above"
      >
        <label #edibilitylabel for="edibility" className="">Edibility</label>
        <textarea
          id="edibility"
          matInput
          cdkTextareaAutosize
          formControlName="edibility"
          (focus)="edibilitylabel.className = 'isFocused'"
          (blur)="edibilitylabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipnote.disabled = false; tooltipnote.show()"
        (mouseleave)="tooltipnote.disabled = true"
        >info</mat-icon
      >
      <mat-form-field
        #tooltipnote="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.features.note }}"
        matTooltipPosition="above"
      >
        <label #notelabel for="note" className="">Note</label>
        <textarea
          id="note"
          matInput
          cdkTextareaAutosize
          formControlName="note"
          (focus)="notelabel.className = 'isFocused'"
          (blur)="notelabel.className = ''"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel class="subForm-container">
    <mat-expansion-panel-header>
      <mat-panel-title>Microscopic features</mat-panel-title>
      <mat-panel-description>Microscopic characteristics</mat-panel-description>
    </mat-expansion-panel-header>
    <form formGroupName="microscopicFeatures" class="flex-container">
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipspores.disabled = false; tooltipspores.show()"
        (mouseleave)="tooltipspores.disabled = true"
        >info</mat-icon
      >

      <mat-form-field
        #tooltipspores="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.microscopicFeatures.spores }}"
        matTooltipPosition="above"
      >
        <label #sporeslabel for="spores" className="">Spores</label>
        <textarea
          id="spores"
          matInput
          cdkTextareaAutosize
          formControlName="spores"
          (focus)="sporeslabel.className = 'isFocused'"
          (blur)="sporeslabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipepicute.disabled = false; tooltipepicute.show()"
        (mouseleave)="tooltipepicute.disabled = true"
        >info</mat-icon
      >

      <mat-form-field
        #tooltipepicute="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.microscopicFeatures.epicute }}"
        matTooltipPosition="above"
      >
        <label #epicutelabel for="epicute" className="">Epicute</label>
        <textarea
          id="epicute"
          matInput
          cdkTextareaAutosize
          formControlName="epicute"
          (focus)="epicutelabel.className = 'isFocused'"
          (blur)="epicutelabel.className = ''"
        ></textarea>
      </mat-form-field>
      <mat-icon
        class="info-icon"
        (mouseover)="tooltipcystidia.disabled = false; tooltipcystidia.show()"
        (mouseleave)="tooltipcystidia.disabled = true"
        >info</mat-icon
      >

      <mat-form-field
        #tooltipcystidia="matTooltip"
        matTooltipDisabled
        matTooltip="{{ tooltip.microscopicFeatures.cystidia }}"
        matTooltipPosition="above"
      >
        <label #cystidialabel for="cystidia" className="">Cystidia</label>
        <textarea
          id="cystidia"
          matInput
          cdkTextareaAutosize
          formControlName="cystidia"
          (focus)="cystidialabel.className = 'isFocused'"
          (blur)="cystidialabel.className = ''"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
  <div [ngClass]="mushroom ? 'flex-buttons-editing' : 'flex-nuttons-creation'">
    <button
      class="delete-button"
      mat-stroked-button
      *ngIf="mushroom"
      type="button"
      (click)="openDialog()"
    >
      Delete
    </button>
    <div class="notifications" *ngIf="notifications">
      {{ notifications.message }}
    </div>
    <button class="save-button" mat-stroked-button type="submit">Save</button>
  </div>
</form>

<ng-template #invalidFieldDialogBox>
  <h2 class="invalidFieldDialogBox-title" mat-dialog-title>Attention !</h2>
  <mat-dialog-content>
    <p>
      You must specify a <strong>Species</strong> in the
      <strong>Species</strong> field
    </p>
    <p class="species-name-note">
      The species of a mushroom is written with the first term (gender name)
      capitalized and the second term (species name) in lower case (for example
      <strong style="font-family: cursive">Amanita muscaria</strong>).
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button mat-dialog-close>OK</button>
  </mat-dialog-actions>
</ng-template>
