<h2 class="deleteDialogBox-title" mat-dialog-title>Attention !</h2>
<mat-dialog-content>
  <p>
    Do you want to <strong>delete</strong> the mushroom
    <strong>{{ mushroom?.taxonomy?.species }}</strong> ?
  </p>
  <p>
    This operation will also <strong>delete</strong> the
    <strong>iconographic gallery</strong> if present.
  </p>
</mat-dialog-content>

<mat-dialog-actions class="buttons-container">
  <button class="yes-button" mat-stroked-button (click)="onDelete(); onClose()">
    Yes
  </button>
  <button class="no-button" mat-stroked-button mat-dialog-close>No</button>
</mat-dialog-actions>
