.deleteDialogBox-title {
  background-color: #7b1fa2;
}
.yes-button {
  margin: 0px 0px 5px 5px;
}
.no-button {
  margin: 0px 5px 5px 0px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 15px !important;
  border: 1px solid lightgray;
}//
