.card {
  max-width: fit-content;
  border: 1px solid lightgrey;
  margin: 10px;
  border-radius: 10px;
}

mat-form-field {
  box-sizing: content-box;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
