img {
  max-width: 400px;
  height: 400px;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: zoom-in;
}

.fullsize-img {
  max-width: 100%;
  height: 100%;
  cursor: zoom-out;
}

@media (max-width: 380px){
  img{
    max-width: 285px;
    height: 285px;
    object-fit: contain;

  }
}
