.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 950px) {
  .flex-container-row {
    flex-direction: column;
  }
}
