<div class="flex-container">
  <h4 #title class="title">Mushroom table</h4>
  <mat-paginator
    #paginator
    pageSize="10"
    [length]="items"
    (page)="handlePagination($event)"
    showFirstLastButtons=""
  ></mat-paginator>
  <div *ngIf="paginator" class="page-label">page: {{ page }}</div>
</div>
<app-mushroom-table
  [page]="page"
  [mushrooms]="mushrooms"
  (formValue)="onFormSearch($event)"
  (delete)="onDelete($event)"
  (deleteSelected)="onDeleteSelected($event)"
></app-mushroom-table>
